@charset 'utf-8';
html, body{
    max-width: 100%;
    overflow-x: hidden;
}
body{
      background:linear-gradient(to top , rgb(37, 9, 70),rgb(9, 10, 61) );
}
.text-center.p-5{
    font-weight: bold;
    color: aliceblue;
}
.carousel-item img{
    height: 40vh;
    object-fit: cover;
    object-position: center;

}
.carousel-caption{
    top:50% !important;
    bottom: auto !important;
    transform: translateY(-50%) !important;
    text-align: center;
}
h1{
    background-color: rgb(16, 15, 53);
    box-shadow: 0px 0px 2rem black;
}
.carousel-item{
    background-color: rgb(30, 17, 65);
}
.card{
    height: 35rem;
    transition: 0.5s;
    color:aliceblue;
    border-radius: 2rem;
    border: none;
     box-shadow: 0px 0px 3rem rgb(38, 0, 255) !important;
}
.card-text{
    padding-top: 1rem;
    display: none;
}
.titulo-hover{
    display: none;
}
.card:hover{
    box-shadow: 0px 0px 3rem rgb(255, 6, 255) !important;
    transform: translateY(-1rem);
    z-index: 2;
}
.card-body{
    background: linear-gradient(to left, rgb(75, 5, 116),rgb(7, 9, 126));
    border-bottom-left-radius:2rem ;
    border-bottom-right-radius:2rem ;
    
}
.datos{
    display: none;
}
.fondo1{
    background-image: url('https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_1240/b_white/f_auto/q_auto/store/software/switch/70010000038380/be99e87f8f668b5329d56571ebdfe1b11ea192aed77b8bfa19a9330693c2e27f');
    height: 50%;
    padding: 1rem;
    background-size: cover;
    width: 100%;
    border-top-left-radius:2rem ;
    border-top-right-radius:2rem ;
    transition: 2s;
    background-position: center;
    
}
.fondo1:hover .card-text{
    display: block;
}
.fondo1:hover .titulo-hover{
    display: block;
    padding-top: 1rem;
}
.fondo1:hover .datos{
    display: block;
    display: flex;
    flex-wrap: wrap;
}
.fondo1:hover{
    height:70% ;
}
.fondo1:hover .autor, .fondo1:hover .fecha{
    flex:1 1  50%;
}
.fondo1:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.575)), url('https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_1240/b_white/f_auto/q_auto/store/software/switch/70010000038380/be99e87f8f668b5329d56571ebdfe1b11ea192aed77b8bfa19a9330693c2e27f');
}
span.hash{
    margin: 0rem 0.2rem;
    background-color: rgb(162, 0, 255);
    padding: 0.3rem;
    border-radius: 1rem;
    display: block;
    width: 50%;
    text-align: center;
    margin: auto;
}
span.precio{
    margin-top: 0.8rem;
    font-weight: bolder;
    font-size: 1.2rem;
}
.btn{
    background-color: rgb(140, 0, 255);
    color: aliceblue;
    font-weight: bold;
    font-size: 2rem;
      border-radius: 1rem;
    box-shadow: 0px 0px 1rem rgb(89, 0, 255);   
}
.btn:hover{
    background-color: rgb(255, 0, 255);
     box-shadow: 0px 0px 1rem rgb(255, 0, 200);
  
}
div.compra{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.card-title{
    margin-bottom: 1rem;
}
.btn.boton-final:hover{
    color:aliceblue;
}
/* fondo2*/
.fondo2{
    background-image: url('https://i.guim.co.uk/img/media/be4cbc05a792dd3251d999eda7d8c48977d7666f/120_0_3600_2160/master/3600.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=8cb751628845c6a482bd0da03a5848b9');
    height: 50%;
    padding: 1rem;
    background-size: cover;
    width: 100%;
    border-top-left-radius:2rem ;
    border-top-right-radius:2rem ;
    transition: 2s;
    background-position: center;
    
}
.fondo2:hover .card-text{
    display: block;
}
.fondo2:hover .titulo-hover{
    display: block;
    padding-top: 1rem;
}
.fondo2:hover .datos{
    display: block;
    display: flex;
    flex-wrap: wrap;
}
.fondo2:hover{
    height:70% ;
}
.fondo2:hover .autor, .fondo2:hover .fecha{
    flex:1 1  50%;
}
.fondo2:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.575)), url('https://i.guim.co.uk/img/media/be4cbc05a792dd3251d999eda7d8c48977d7666f/120_0_3600_2160/master/3600.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=8cb751628845c6a482bd0da03a5848b9');
}

/*fondo3*/
.fondo3{
    background-image: url('https://gocdkeys.es/assets/thumbnails/portal-2-pc-cd-key-1.webp');
    height: 50%;
    padding: 1rem;
    background-size: cover;
    width: 100%;
    border-top-left-radius:2rem ;
    border-top-right-radius:2rem ;
    transition: 2s;
    background-position: center;
    
}
.fondo3:hover .card-text{
    display: block;
}
.fondo3:hover .titulo-hover{
    display: block;
    padding-top: 1rem;
}
.fondo3:hover .datos{
    display: block;
    display: flex;
    flex-wrap: wrap;
}
.fondo3:hover{
    height:70% ;
}
.fondo3:hover .autor, .fondo3:hover .fecha{
    flex:1 1  50%;
}
.fondo3:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.575)), url('https://gocdkeys.es/assets/thumbnails/portal-2-pc-cd-key-1.webp');
}
/*fondo4*/
.fondo4{
    background-image: url('https://cdn2.unrealengine.com/talos-principle-2-header-1920x1080-6b216b83eea3.jpg');
    height: 50%;
    padding: 1rem;
    background-size: cover;
    width: 100%;
    border-top-left-radius:2rem ;
    border-top-right-radius:2rem ;
    transition: 2s;
    background-position: center;
    
}
.fondo4:hover .card-text{
    display: block;
}
.fondo4:hover .titulo-hover{
    display: block;
    padding-top: 1rem;
}
.fondo4:hover .datos{
    display: block;
    display: flex;
    flex-wrap: wrap;
}
.fondo4:hover{
    height:70% ;
}
.fondo4:hover .autor, .fondo4:hover .fecha{
    flex:1 1  50%;
}
.fondo4:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.575)), url('https://cdn2.unrealengine.com/talos-principle-2-header-1920x1080-6b216b83eea3.jpg');
}
/*fondo5*/
.fondo5{
    background-image: url('https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_1240/b_white/f_auto/q_auto/store/software/switch/70010000008551/be533f83694491bdc7cb34fa58cf1583f0d024bc163ca5ea15ec5738ff7eeccd');
    height: 50%;
    padding: 1rem;
    background-size: cover;
    width: 100%;
    border-top-left-radius:2rem ;
    border-top-right-radius:2rem ;
    transition: 2s;
    background-position: center;
    
}
.fondo5:hover .card-text{
    display: block;
}
.fondo5:hover .titulo-hover{
    display: block;
    padding-top: 1rem;
}
.fondo5:hover .datos{
    display: block;
    display: flex;
    flex-wrap: wrap;
}
.fondo5:hover{
    height:70% ;
}
.fondo5:hover .autor, .fondo5:hover .fecha{
    flex:1 1  50%;
}
.fondo5:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.575)), url('https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_1240/b_white/f_auto/q_auto/store/software/switch/70010000008551/be533f83694491bdc7cb34fa58cf1583f0d024bc163ca5ea15ec5738ff7eeccd');
}
/*fondo6*/
.fondo6{
    background-image: url('https://eu-images.contentstack.com/v3/assets/blt740a130ae3c5d529/bltaf1945e11b92f4e1/650f0674e29ba81ee5edffb7/Unpacking_Header.png?width=1280&auto=webp&quality=80&format=jpg&disable=upscale');
    height: 50%;
    padding: 1rem;
    background-size: cover;
    width: 100%;
    border-top-left-radius:2rem ;
    border-top-right-radius:2rem ;
    transition: 2s;
    background-position: center;
    
}
.fondo6:hover .card-text{
    display: block;
}
.fondo6:hover .titulo-hover{
    display: block;
    padding-top: 1rem;
}
.fondo6:hover .datos{
    display: block;
    display: flex;
    flex-wrap: wrap;
}
.fondo6:hover{
    height:70% ;
}
.fondo6:hover .autor, .fondo6:hover .fecha{
    flex:1 1  50%;
}
.fondo6:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.575)), url('https://eu-images.contentstack.com/v3/assets/blt740a130ae3c5d529/bltaf1945e11b92f4e1/650f0674e29ba81ee5edffb7/Unpacking_Header.png?width=1280&auto=webp&quality=80&format=jpg&disable=upscale');
}
/*fondo7*/
.fondo7{
    background-image: url('https://miro.medium.com/1*MPR08n_EUmqvR2iu3DYy2w.jpeg');
    height: 50%;
    padding: 1rem;
    background-size: cover;
    width: 100%;
    border-top-left-radius:2rem ;
    border-top-right-radius:2rem ;
    transition: 2s;
    background-position: center;
    
}
.fondo7:hover .card-text{
    display: block;
}
.fondo7:hover .titulo-hover{
    display: block;
    padding-top: 1rem;
}
.fondo7:hover .datos{
    display: block;
    display: flex;
    flex-wrap: wrap;
}
.fondo7:hover{
    height:70% ;
}
.fondo7:hover .autor, .fondo7:hover .fecha{
    flex:1 1  50%;
}
.fondo7:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.575)), url('https://miro.medium.com/1*MPR08n_EUmqvR2iu3DYy2w.jpeg');
}
/*fondo8*/
.fondo8{
    background-image: url('https://cdn2.unrealengine.com/chants-of-sennaar-is-a-love-letter-to-the-power-of-communication-and-community-overlook-1920x1080-b39701b706aa.jpg');
    height: 50%;
    padding: 1rem;
    background-size: cover;
    width: 100%;
    border-top-left-radius:2rem ;
    border-top-right-radius:2rem ;
    transition: 2s;
    background-position: center;
    
}
.fondo8:hover .card-text{
    display: block;
}
.fondo8:hover .titulo-hover{
    display: block;
    padding-top: 1rem;
}
.fondo8:hover .datos{
    display: block;
    display: flex;
    flex-wrap: wrap;
}
.fondo8:hover{
    height:70% ;
}
.fondo8:hover .autor, .fondo8:hover .fecha{
    flex:1 1  50%;
}
.fondo8:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.575)), url('https://cdn2.unrealengine.com/chants-of-sennaar-is-a-love-letter-to-the-power-of-communication-and-community-overlook-1920x1080-b39701b706aa.jpg');
}
/*fondo9*/
.fondo9{
    background-image: url('https://i.blogs.es/232823/superliminal1/1366_2000.jpeg');
    height: 50%;
    padding: 1rem;
    background-size: cover;
    width: 100%;
    border-top-left-radius:2rem ;
    border-top-right-radius:2rem ;
    transition: 2s;
    background-position: center;
    
}
.fondo9:hover .card-text{
    display: block;
}
.fondo9:hover .titulo-hover{
    display: block;
    padding-top: 1rem;
}
.fondo9:hover .datos{
    display: block;
    display: flex;
    flex-wrap: wrap;
}
.fondo9:hover{
    height:70% ;
}
.fondo9:hover .autor, .fondo9:hover .fecha{
    flex:1 1  50%;
}
.fondo9:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.575)), url('https://i.blogs.es/232823/superliminal1/1366_2000.jpeg');
}
/*fondo10*/
.fondo10{
    background-image: url('https://eclectic-thoughts.com/wp-content/uploads/2019/09/Fez2.jpg');
    height: 50%;
    padding: 1rem;
    background-size: cover;
    width: 100%;
    border-top-left-radius:2rem ;
    border-top-right-radius:2rem ;
    transition: 2s;
    background-position: center;
    
}
.fondo10:hover .card-text{
    display: block;
}
.fondo10:hover .titulo-hover{
    display: block;
    padding-top: 1rem;
}
.fondo10:hover .datos{
    display: block;
    display: flex;
    flex-wrap: wrap;
}
.fondo10:hover{
    height:70% ;
}
.fondo10:hover .autor, .fondo10:hover .fecha{
    flex:1 1  50%;
}
.fondo10:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.575)), url('https://eclectic-thoughts.com/wp-content/uploads/2019/09/Fez2.jpg');
}
/*fondo11*/
.fondo11{
    background-image: url('https://static0.polygonimages.com/wordpress/wp-content/uploads/chorus/uploads/chorus_asset/file/13064387/the-witness-review-hero.0.0.1487627032.jpg');
    height: 50%;
    padding: 1rem;
    background-size: cover;
    width: 100%;
    border-top-left-radius:2rem ;
    border-top-right-radius:2rem ;
    transition: 2s;
    background-position: center;
    
}
.fondo11:hover .card-text{
    display: block;
}
.fondo11:hover .titulo-hover{
    display: block;
    padding-top: 1rem;
}
.fondo11:hover .datos{
    display: block;
    display: flex;
    flex-wrap: wrap;
}
.fondo11:hover{
    height:70% ;
}
.fondo11:hover .autor, .fondo11:hover .fecha{
    flex:1 1  50%;
}
.fondo11:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.575)), url('https://static0.polygonimages.com/wordpress/wp-content/uploads/chorus/uploads/chorus_asset/file/13064387/the-witness-review-hero.0.0.1487627032.jpg');
}
/*fondo12*/
.fondo12{
    background-image: url('https://i.blogs.es/d7e7bd/inside1/1366_2000.jpeg');
    height: 50%;
    padding: 1rem;
    background-size: cover;
    width: 100%;
    border-top-left-radius:2rem ;
    border-top-right-radius:2rem ;
    transition: 2s;
    background-position: center;
    
}
.fondo12:hover .card-text{
    display: block;
}
.fondo12:hover .titulo-hover{
    display: block;
    padding-top: 1rem;
}
.fondo12:hover .datos{
    display: block;
    display: flex;
    flex-wrap: wrap;
}
.fondo12:hover{
    height:70% ;
}
.fondo12:hover .autor, .fondo12:hover .fecha{
    flex:1 1  50%;
}
.fondo12:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.575)), url('https://i.blogs.es/d7e7bd/inside1/1366_2000.jpeg');
}
@media( min-width: 768px ){
    .carousel-item img{
        height: 80vh;
        object-fit: cover;
    object-position: center;
    }
    .fondo1{
    height: 70%;
    }
    span.hash{
        display: inline;
        width: 100%;
    }
    /* demas fondos*/
    .fondo2{
    height: 70%;
    }
    .fondo3{
    height: 70%;
    }
     .fondo4{
    height: 70%;
    }
     .fondo5{
    height: 70%;
    }
     .fondo6{
    height: 70%;
    }
     .fondo7{
    height: 70%;
    }
     .fondo8{
    height: 70%;
    }
     .fondo9{
    height: 70%;
    }
     .fondo10{
    height: 70%;
    }
     .fondo11{
    height: 70%;
    }
     .fondo12{
    height: 70%;
    }

}