@charset 'utf-8';
html, body{
    max-width: 100%;
    overflow-x: hidden;
}
body{
      background:linear-gradient(to top , rgb(21, 46, 7),rgb(74, 160, 24) );
}
.text-center.p-5{
    font-weight: bold;
    color: aliceblue;
}
.carousel-item img{
    height: 40vh;
    object-fit: cover;
    object-position: center;

}
.carousel-caption{
    top:50% !important;
    bottom: auto !important;
    transform: translateY(-50%) !important;
    text-align: center;
}
h1{
    background-color: rgb(84, 192, 52);
    box-shadow: 0px 0px 2rem black;
}
.carousel-item{
    background-color: rgb(30, 17, 65);
}
.card{
    height: 35rem;
    transition: 0.5s;
    color:aliceblue;
    border-radius: 2rem;
    border: none;
     box-shadow: 0px 0px 3rem rgb(26, 255, 5) !important;
}
.card-text{
    padding-top: 1rem;
    display: none;
}
.titulo-hover{
    display: none;
}
.card:hover{
    box-shadow: 0px 0px 3rem rgb(238, 255, 6) !important;
    transform: translateY(-1rem);
    z-index: 2;
}
.card-body{
    background: linear-gradient(to left, rgb(26, 63, 23),rgb(19, 117, 10));
    border-bottom-left-radius:2rem ;
    border-bottom-right-radius:2rem ;
    
}
.datos{
    display: none;
}
.fondo1{
    background-image: url('https://sm.ign.com/ign_es/screenshot/default/zelda-wii-u-3441758_vngx.jpg');
    height: 50%;
    padding: 1rem;
    background-size: cover;
    width: 100%;
    border-top-left-radius:2rem ;
    border-top-right-radius:2rem ;
    transition: 2s;
    background-position: center;
    
}
.fondo1:hover .card-text{
    display: block;
}
.fondo1:hover .titulo-hover{
    display: block;
    padding-top: 1rem;
}
.fondo1:hover .datos{
    display: block;
    display: flex;
    flex-wrap: wrap;
}
.fondo1:hover{
    height:70% ;
}
.fondo1:hover .autor, .fondo1:hover .fecha{
    flex:1 1  50%;
}
.fondo1:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.575)), url('https://sm.ign.com/ign_es/screenshot/default/zelda-wii-u-3441758_vngx.jpg');
}
span.hash{
    margin: 0rem 0.2rem;
    background-color: rgb(96, 192, 67);
    padding: 0.3rem;
    border-radius: 1rem;
    display: block;
    width: 50%;
    text-align: center;
    margin: auto;
}
span.precio{
    margin-top: 0.8rem;
    font-weight: bolder;
    font-size: 1.2rem;
}
.btn{
    background-color: rgb(88, 230, 6);
    color: aliceblue;
    font-weight: bold;
    font-size: 2rem;
      border-radius: 1rem;
    box-shadow: 0px 0px 1rem rgb(0, 255, 34);   
}
.btn:hover{
    background-color: rgb(196, 230, 7);
     box-shadow: 0px 0px 1rem rgb(150, 189, 11);
  
}
div.compra{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.card-title{
    margin-bottom: 1rem;
}
.btn.boton-final:hover{
    color:aliceblue;
}
/* fondo2*/
.fondo2{
    background-image: url('https://cdn2.unrealengine.com/everything-we-know-about-the-last-of-us-1920x1080-68e49d522a73.jpg');
    height: 50%;
    padding: 1rem;
    background-size: cover;
    width: 100%;
    border-top-left-radius:2rem ;
    border-top-right-radius:2rem ;
    transition: 2s;
    background-position: center;
    
}
.fondo2:hover .card-text{
    display: block;
}
.fondo2:hover .titulo-hover{
    display: block;
    padding-top: 1rem;
}
.fondo2:hover .datos{
    display: block;
    display: flex;
    flex-wrap: wrap;
}
.fondo2:hover{
    height:70% ;
}
.fondo2:hover .autor, .fondo2:hover .fecha{
    flex:1 1  50%;
}
.fondo2:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.575)), url('https://cdn2.unrealengine.com/everything-we-know-about-the-last-of-us-1920x1080-68e49d522a73.jpg');
}

/*fondo3*/
.fondo3{
    background-image: url('https://img.redbull.com/images/c_limit,w_1500,h_1000/f_auto,q_auto/redbullcom/2019/10/31/4096b904-2fd0-479c-8037-f80566da24d2/death-stranding');
    height: 50%;
    padding: 1rem;
    background-size: cover;
    width: 100%;
    border-top-left-radius:2rem ;
    border-top-right-radius:2rem ;
    transition: 2s;
    background-position: center;
    
}
.fondo3:hover .card-text{
    display: block;
}
.fondo3:hover .titulo-hover{
    display: block;
    padding-top: 1rem;
}
.fondo3:hover .datos{
    display: block;
    display: flex;
    flex-wrap: wrap;
}
.fondo3:hover{
    height:70% ;
}
.fondo3:hover .autor, .fondo3:hover .fecha{
    flex:1 1  50%;
}
.fondo3:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.575)), url('https://img.redbull.com/images/c_limit,w_1500,h_1000/f_auto,q_auto/redbullcom/2019/10/31/4096b904-2fd0-479c-8037-f80566da24d2/death-stranding');
}
/*fondo4*/
.fondo4{
    background-image: url('https://live.staticflickr.com/65535/55310790288_38647a0d46_k.jpg');
    height: 50%;
    padding: 1rem;
    background-size: cover;
    width: 100%;
    border-top-left-radius:2rem ;
    border-top-right-radius:2rem ;
    transition: 2s;
    background-position: center;
    
}
.fondo4:hover .card-text{
    display: block;
}
.fondo4:hover .titulo-hover{
    display: block;
    padding-top: 1rem;
}
.fondo4:hover .datos{
    display: block;
    display: flex;
    flex-wrap: wrap;
}
.fondo4:hover{
    height:70% ;
}
.fondo4:hover .autor, .fondo4:hover .fecha{
    flex:1 1  50%;
}
.fondo4:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.575)), url('https://live.staticflickr.com/65535/55310790288_38647a0d46_k.jpg');
}
/*fondo5*/
.fondo5{
    background-image: url('https://i.blogs.es/13421e/horizon0/1366_2000.jpg');
    height: 50%;
    padding: 1rem;
    background-size: cover;
    width: 100%;
    border-top-left-radius:2rem ;
    border-top-right-radius:2rem ;
    transition: 2s;
    background-position: center;
    
}
.fondo5:hover .card-text{
    display: block;
}
.fondo5:hover .titulo-hover{
    display: block;
    padding-top: 1rem;
}
.fondo5:hover .datos{
    display: block;
    display: flex;
    flex-wrap: wrap;
}
.fondo5:hover{
    height:70% ;
}
.fondo5:hover .autor, .fondo5:hover .fecha{
    flex:1 1  50%;
}
.fondo5:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.575)), url('https://i.blogs.es/13421e/horizon0/1366_2000.jpg');
}
/*fondo6*/
.fondo6{
    background-image: url('https://gameinformer.com/sites/default/files/styles/content_header_l/public/2023/04/25/d0cbe70f/cal_preparesheader.jpg.webp');
    height: 50%;
    padding: 1rem;
    background-size: cover;
    width: 100%;
    border-top-left-radius:2rem ;
    border-top-right-radius:2rem ;
    transition: 2s;
    background-position: center;
    
}
.fondo6:hover .card-text{
    display: block;
}
.fondo6:hover .titulo-hover{
    display: block;
    padding-top: 1rem;
}
.fondo6:hover .datos{
    display: block;
    display: flex;
    flex-wrap: wrap;
}
.fondo6:hover{
    height:70% ;
}
.fondo6:hover .autor, .fondo6:hover .fecha{
    flex:1 1  50%;
}
.fondo6:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.575)), url('https://gameinformer.com/sites/default/files/styles/content_header_l/public/2023/04/25/d0cbe70f/cal_preparesheader.jpg.webp');
}
/*fondo7*/
.fondo7{
    background-image: url('https://blog.bestbuy.ca/wp-content/uploads/2018/05/detroit-become-human-screen-22-ps4-us-13apr18.jpg');
    height: 50%;
    padding: 1rem;
    background-size: cover;
    width: 100%;
    border-top-left-radius:2rem ;
    border-top-right-radius:2rem ;
    transition: 2s;
    background-position: center;
    
}
.fondo7:hover .card-text{
    display: block;
}
.fondo7:hover .titulo-hover{
    display: block;
    padding-top: 1rem;
}
.fondo7:hover .datos{
    display: block;
    display: flex;
    flex-wrap: wrap;
}
.fondo7:hover{
    height:70% ;
}
.fondo7:hover .autor, .fondo7:hover .fecha{
    flex:1 1  50%;
}
.fondo7:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.575)), url('https://blog.bestbuy.ca/wp-content/uploads/2018/05/detroit-become-human-screen-22-ps4-us-13apr18.jpg');
}
/*fondo8*/
.fondo8{
    background-image: url('https://fotografias-neox.atresmedia.com/clipping/cmsimages01/2022/10/08/ED24AE9D-2FE8-41F0-A708-739255829CE3/plague-tale-requiem_98.jpg?crop=1920,1080,x0,y0&width=1900&height=1069&optimize=high&format=webply');
    height: 50%;
    padding: 1rem;
    background-size: cover;
    width: 100%;
    border-top-left-radius:2rem ;
    border-top-right-radius:2rem ;
    transition: 2s;
    background-position: center;
    
}
.fondo8:hover .card-text{
    display: block;
}
.fondo8:hover .titulo-hover{
    display: block;
    padding-top: 1rem;
}
.fondo8:hover .datos{
    display: block;
    display: flex;
    flex-wrap: wrap;
}
.fondo8:hover{
    height:70% ;
}
.fondo8:hover .autor, .fondo8:hover .fecha{
    flex:1 1  50%;
}
.fondo8:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.575)), url('https://fotografias-neox.atresmedia.com/clipping/cmsimages01/2022/10/08/ED24AE9D-2FE8-41F0-A708-739255829CE3/plague-tale-requiem_98.jpg?crop=1920,1080,x0,y0&width=1900&height=1069&optimize=high&format=webply');
}
/*fondo9*/
.fondo9{
    background-image: url('https://static.wikia.nocookie.net/life-is-strange-w/images/c/c9/Lifeisstrange_wikia.jpg/revision/latest?cb=20150803213501&path-prefix=es');
    height: 50%;
    padding: 1rem;
    background-size: cover;
    width: 100%;
    border-top-left-radius:2rem ;
    border-top-right-radius:2rem ;
    transition: 2s;
    background-position: center;
    
}
.fondo9:hover .card-text{
    display: block;
}
.fondo9:hover .titulo-hover{
    display: block;
    padding-top: 1rem;
}
.fondo9:hover .datos{
    display: block;
    display: flex;
    flex-wrap: wrap;
}
.fondo9:hover{
    height:70% ;
}
.fondo9:hover .autor, .fondo9:hover .fecha{
    flex:1 1  50%;
}
.fondo9:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.575)), url('https://static.wikia.nocookie.net/life-is-strange-w/images/c/c9/Lifeisstrange_wikia.jpg/revision/latest?cb=20150803213501&path-prefix=es');
}
/*fondo10*/
.fondo10{
    background-image: url('https://i.ytimg.com/vi/2EnIpUkQ__M/maxresdefault.jpg');
    height: 50%;
    padding: 1rem;
    background-size: cover;
    width: 100%;
    border-top-left-radius:2rem ;
    border-top-right-radius:2rem ;
    transition: 2s;
    background-position: center;
    
}
.fondo10:hover .card-text{
    display: block;
}
.fondo10:hover .titulo-hover{
    display: block;
    padding-top: 1rem;
}
.fondo10:hover .datos{
    display: block;
    display: flex;
    flex-wrap: wrap;
}
.fondo10:hover{
    height:70% ;
}
.fondo10:hover .autor, .fondo10:hover .fecha{
    flex:1 1  50%;
}
.fondo10:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.575)), url('https://i.ytimg.com/vi/2EnIpUkQ__M/maxresdefault.jpg');
}
/*fondo11*/
.fondo11{
    background-image: url('https://es.egw.news/_next/image?url=https%3A%2F%2Fegw.news%2Fuploads%2Fnews%2F1%2F17%2F1760546529210_1760546529211.webp&w=1920&q=75');
    height: 50%;
    padding: 1rem;
    background-size: cover;
    width: 100%;
    border-top-left-radius:2rem ;
    border-top-right-radius:2rem ;
    transition: 2s;
    background-position: center;
    
}
.fondo11:hover .card-text{
    display: block;
}
.fondo11:hover .titulo-hover{
    display: block;
    padding-top: 1rem;
}
.fondo11:hover .datos{
    display: block;
    display: flex;
    flex-wrap: wrap;
}
.fondo11:hover{
    height:70% ;
}
.fondo11:hover .autor, .fondo11:hover .fecha{
    flex:1 1  50%;
}
.fondo11:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.575)), url('https://es.egw.news/_next/image?url=https%3A%2F%2Fegw.news%2Fuploads%2Fnews%2F1%2F17%2F1760546529210_1760546529211.webp&w=1920&q=75');
}
/*fondo12*/
.fondo12{
    background-image: url('https://i.blogs.es/6f10fc/alan-wake-ii_2023_05-24-23_011/1366_2000.jpeg');
    height: 50%;
    padding: 1rem;
    background-size: cover;
    width: 100%;
    border-top-left-radius:2rem ;
    border-top-right-radius:2rem ;
    transition: 2s;
    background-position: center;
    
}
.fondo12:hover .card-text{
    display: block;
}
.fondo12:hover .titulo-hover{
    display: block;
    padding-top: 1rem;
}
.fondo12:hover .datos{
    display: block;
    display: flex;
    flex-wrap: wrap;
}
.fondo12:hover{
    height:70% ;
}
.fondo12:hover .autor, .fondo12:hover .fecha{
    flex:1 1  50%;
}
.fondo12:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.575)), url('https://i.blogs.es/6f10fc/alan-wake-ii_2023_05-24-23_011/1366_2000.jpeg');
}
@media( min-width: 768px ){
    .carousel-item img{
        height: 80vh;
        object-fit: cover;
    object-position: center;
    }
    .fondo1{
    height: 70%;
    }
    span.hash{
        display: inline;
        width: 100%;
    }
    /* demas fondos*/
    .fondo2{
    height: 70%;
    }
    .fondo3{
    height: 70%;
    }
     .fondo4{
    height: 70%;
    }
     .fondo5{
    height: 70%;
    }
     .fondo6{
    height: 70%;
    }
     .fondo7{
    height: 70%;
    }
     .fondo8{
    height: 70%;
    }
     .fondo9{
    height: 70%;
    }
     .fondo10{
    height: 70%;
    }
     .fondo11{
    height: 70%;
    }
     .fondo12{
    height: 70%;
    }

}