@charset 'utf-8';
html, body{
    max-width: 100%;
    overflow-x: hidden;
}

.carousel-item img{
    height: 70vh;
    object-fit: cover;
    object-position: center;

}
.carousel-item{
    background-color: rgb(30, 17, 65);
}
main{
    background-color: rgb(23, 17, 59);
}
.card,video{
    object-fit: cover;
    border-radius: 2rem ;
}
.card-juego{
    background:linear-gradient(to right, rgb(140, 5, 250), rgb(0, 247, 255));
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    color:white;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 3rem;
    transition: 1s;
    position: relative;
    z-index: 1;  
    
}
.card-juego::before{
    content: "";
    background:linear-gradient(to right, rgb(0, 247, 255) ,rgb(140, 5, 250)) ;
    position: absolute;
    top:0; left:0; right:0; bottom:0;
    z-index: -1;
    border-radius: 3rem;
    filter: blur(1rem);
    transform: scale(1.2);
    opacity: 0;
}
.info{
    position: relative;
    background:linear-gradient(to right, rgb(140, 5, 250), rgb(0, 247, 255));
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2rem;
    border-radius: 3rem;
    box-shadow: -20px 15px 30px rgb(140, 5, 250),20px 5px 30px rgb(3, 255, 255);

}   
.card-juego:hover{
    color: white;
    padding: 2rem;
    background:linear-gradient(to right, rgb(5, 234, 250), rgb(142, 5, 255));
}
.card-juego:hover::before{
    background:linear-gradient(to right, rgb(5, 234, 250), rgb(142, 5, 255));
    padding: 1.2rem; 
    opacity: 1;
    transition: 2s; 
}

.info{
    padding: 1rem;
    background:linear-gradient(to right);
}
.bi.bi-star-fill{
    padding: 0.2rem;
    color:yellow;
}
.fondo-iconos{
     background: linear-gradient(to right, rgb(133, 4, 255), rgb(5, 226, 255));
     border-radius: 1rem;
     padding: 0.4rem;
}
.mas-juegos{
     background-color: rgb(23, 17, 59);

}
img.item-fin{
    object-fit: cover;
    height: 300px;
    object-position: center;
}
.card-img-top{
    object-position: center;
}
.bg-info.rounded.p-1{
    background-color: rgb(18, 112, 167) !important;
}