@charset 'utf-8';
.item-card-1{
    background-image: url('https://images.gamewatcherstatic.com/image/file/4/ae/88034/sonic_forces___wallpaper_by_nathanlaurindo-db38ef0_copy.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
    
}
.item-card-2{
    background-image: url('https://images.steamusercontent.com/ugc/1639829753508513064/426709BD9E396F44701EC8C73D800B43FA5C6981/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false');
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
    background-size: contain;
    
}
.item-card-3{
    background-image: url('https://external-preview.redd.it/warlock-infinite-now-available-in-sonic-forces-speed-battle-v0-0Xs8igmu6-mKuqUyNZ0Q1z6YnQZY1j2dZrSfNPQ7Pxs.jpg?auto=webp&s=665048fa84fc05208d740b553ef0237d8c85ea33');
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
    background-position: center;
    background-size: cover;
    
}
.item-card-4{
    background-image: url('https://www.elsotanoperdido.com/images/EntradillasExtra/SonicForces_Entra3.jpg');
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
    background-size: cover;
    background-position: center;
}
.card{
    background-color: rgb(24, 31, 48);
    color:aliceblue;
    padding-top: 2rem;
}